/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
    font-style:normal;
}




/* Navbar links */
.navbar a {
    float: right;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: right; 
}


.module_N p {
    background:tr;
    text-align: left;
    color: orange;
    font-size: 50px;
    align-self: center;
    font-weight: 500;
    
}


.search p {
    text-align: left;
    color: white;
    background: transparent;
}

.filtro p {
    background: transparent;
    font-size: 15px;
    text-align: center;
    color: white;
}


.section_txt p {

    background: transparent;
    color: #595959;
    font-size: 27px;
    font-weight: 500;
    font-style: bold;
    padding: 1.5rem;
    margin: 1rem 1rem 1rem 9rem;

}



/*MINICARD*/

.text{

    font-size: 22px;
	line-height: 1;
    text-align: left;
    font-weight: 500;
    font-style: bold;

}


.if_name p{

    float: left;
    font-size: 15px;
    color: #d8d8d8;
    font-weight: 300;
    padding: 1rem;
}


.if_date{

    float: right;
    font-size: 15px;
    color: #d8d8d8;
    font-weight: 300;
    padding: 1rem;
}
