
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    height: 100px;
    display: auto;
    justify-content: center;
    align-content: center;
    background-color: transparent;
}
  
  
.wrapper > *{
    
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
  
  
.header {
    background: #555;
    height: 120px;
}
  
.footer {
    
    background: lightgreen;
    height: 80px
  
}
  
.main {
    text-align: left;
    background: deepskyblue;
    height: 300px;
    font-size: 24px;
}
  



.flex-n1 {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
    background:steelblue;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    justify-items: center;
    padding: 100px;
} 

.item {
    background: pink;
    flex: 0 30%;
    width: 233px;
    height: 233px;
    margin-bottom: 5%;
    border-radius: 15px 15px 35px 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
}


.botones {

    background:salmon;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    flex: 1 100%;
    height: 60px;
    border-radius: 10px;
    
}

.search {

    background: pink;
    flex: 0 65%;
    height: 30px;
    margin-bottom: 30%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
    
}

.filtro {

    background: pink;
    flex: 0 30%;
    height: 30px;
    margin-bottom: 20%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;

}
  

@media all(min-width: 1000px) {
  
    .main { flex: 3 0px; }
    
}