
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    height: 100px;
    display: auto;
    justify-content: center;
    align-content: center;
    background-color: transparent;
}
  
  
.wrapper > *{
    
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
  
  
.header {
    background: #555;
    height: 120px;
}
  
.footer {
    
    background: lightgreen;
    height: 80px
  
}
  
.main {
    text-align: left;
    background: deepskyblue;
    height: 300px;
    font-size: 24px;
}
  



.flex-n1 {
    background:steelblue;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 100px;
} 

.item {
    background: pink;
    flex: 0 32%;
    width: 250px;
    height: 250px;
    margin-bottom: 4%;
    border-radius: 5px 5px 25px 25px;
}


.botones {
    background:salmon;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    height: 60px;
    width: 800px;
    align-items: flex-end;
}

.search {

    background: pink;
    flex: 0 65%;
    height: 30px;
    margin-bottom: 20%;
    border-radius: 30px;
    text-align: left;
    
}

.filtro {

    background: pink;
    flex: 0 30%;
    height: 30px;
    margin-bottom: 20%;
    border-radius: 10px;
    text-align: left;
    align-items: center;

}
  

@media all(min-width: 1000px) {
  
    .main { flex: 3 0px; }
    
}